<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   ApiKeys.plist
   Countdown

   Created by Richard Robinson on 2020-07-25.
   Copyright (c) 2020 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
      <key>API_KEY</key>
      <string>0pSo3oWvoad6X8LqkvKnUnGO7pMmRY-8SfPhVU8bJEE</string>
</dict>
</plist>
